src/main/resources/KsrWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KsrWebserviceService" targetNamespace="http://service.ksr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ksr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.ksr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.ksr/" version="1.0">

  <xs:element name="addUser" type="tns:addUser"/>

  <xs:element name="addUserResponse" type="tns:addUserResponse"/>

  <xs:element name="getUserDetails" type="tns:getUserDetails"/>

  <xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>

  <xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ksrDomain"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ksrDomain">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ksrDomain" type="tns:ksrDomain"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addUserResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserDetails">
    <wsdl:part name="parameters" element="tns:getUserDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part name="parameters" element="tns:addUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserDetailsResponse">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KsrWebservice">
    <wsdl:operation name="getUserDetails">
      <wsdl:input name="getUserDetails" message="tns:getUserDetails">
    </wsdl:input>
      <wsdl:output name="getUserDetailsResponse" message="tns:getUserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUser" message="tns:addUser">
    </wsdl:input>
      <wsdl:output name="addUserResponse" message="tns:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KsrWebserviceServiceSoapBinding" type="tns:KsrWebservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KsrWebserviceService">
    <wsdl:port name="KsrWebservicePort" binding="tns:KsrWebserviceServiceSoapBinding">
      <soap:address location="http://localhost:9090/KsrWebservicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
